<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Voto.Consolidate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Voto.Consolidate.Properties.Settings>
            <setting name="textBoxDestinationRootSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonCopySetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonMoveSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxOverwriteSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonConsolidationSelectionAllSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonConsolidationSelectionOldSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Slider_ValueSetting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="radioButtonSubfolderConsolidationDateSetting"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonSubfolderLastWriteDateSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicTiffSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicPngSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicGifSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicJpegSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicJpgSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicPsdSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicBmpSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicRawSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidAviSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidFlvSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidWmvSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidMovSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidMp4Setting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidMpgSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VidMtsSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxDeleteEmptyDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxDeleteDuplicateFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </Voto.Consolidate.Properties.Settings>
    </userSettings>
</configuration>